@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,300&family=Nova+Square&family=Raleway+Dots&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #171717;
    color:white;
    font-family:sans-serif;
}
.container{
  max-width: 950px;
  margin: auto;
}
h2{
    margin-top:40px;

}
header{
  padding-top:16px;
}
nav{
    display:inline;
    cursor: pointer;
}
.navbar{
  margin-top:12px;
}
h1 {
    text-align: left;
    display:inline;
    font-size:x-large;
  }
  .why{
    margin-top:8.5px;
    margin-bottom:8.5px;
  }
  .list{
    float:right;
    font-size:11px;
  }
  ul li {
    list-style: none;
    display: inline-block;
    justify-content:space-between;

  }
  li{
    padding-left: 30px;
  }
  .peace{
    padding-top:153px;
    margin-left:35px;
  }
  .img_deg{
    width: 370px;
    height: 383px;
    float: right;
    padding-right:35px;
    padding-top:50px
  }

  h3{
  font-size:9px;
  margin-bottom:19px;
  color:gray;
  }
  h6{
    font-size:7px;
    background-color: #27AE60;
    width: 80px;
    height: 23px;
    border: 0.1px solid #44c078;
    display:inline-block;
    cursor: pointer;
  }
  .cv{
    text-align:center;
    padding-top:7px;
  }
  
  h4{
    font-size:7px;
    width: 80px;
    height: 23px;
    border: 0.1px solid white;
    display:inline-block;
    cursor: pointer;
  }
  .learn{
    text-align:center;
    padding-top:7px;
  }
.second{
  margin-top:150px;
  text-align:center;
}
  .latin{
    margin-top:30px;
    text-align:center;
    font-size:13px;
    margin-left:209px;
    margin-right:209px;
    margin-bottom:40px;
  }
  .object{
    display:flex;
    margin-top:70px;
    margin-bottom:40px;
    justify-content:space-between;
    text-align:center;
  }
  .six{
    width: 55px;
    height:53.9px;
  }
.full{
  font-size:11.5px;
  font-weight:5rem;
}
.here{
  font-size:10px;
}
.fine{
  text-align:center;
  margin-top:70px;
  margin-bottom:35px;
}
#items{
  display:flex;
  justify-content:space-between;
  margin-top:30px;
}
.men{
  background-color:#212121;
  width:180px;
  height:120px;
  color:#535353;
}
.for{
  border-bottom:3.8px solid #27AE60;
}
.web{
  width: 30px;
  height:27.9px;
}
.words{
  padding-top:20px;
}
.dev{
  padding:20px;
}
.webs{
width:98px;
height:5px;
}
#new{
  background-color:#212121;
  display:flex;
  justify-content:space-between;
  height:120px;
  width:930px;
  margin-top:32px;
}
.break{
  margin-top:31px;
  margin-left:31px;
  margin-right:31px;
}
.fake{
  font-size:40px;
  color: #4f4f44;
}
.other{
  color:#27AE60;
  text-align:center;
  padding-left:9.8px;
}
#tap{
  display:flex;
  margin-left:80px;
}
#nice{
display:flex;
margin-left:80px;
}
.int{
 margin-left:50px; 
}
.game{
  margin-left:50px;
  margin-top:40.5px;
}
.out{
  margin-top:40.5px;
}
input{
  background-color: #171717;
  width:350px;
  height:40px;
  border-bottom:2.5px solid #535353;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}
::placeholder{
  padding-bottom:34px;
}
#message{
  background-color: #171717;
  width:720px;
  height:100px;
  margin-top: 50px;
  border-top-style:solid;
  border-left-style:solid;
  border-right-style:solid;
  padding-bottom:80px;
  padding-top:16.5px;
  padding-left:11.5px;
  font-size:18px;
  margin-left:90px;
}
input[type="submit"] {
background-color:#27AE60;
width:100px;
height:32.5px;
margin-left:384.5px;
margin-top:50px;
color:white;
font-size:15px;
border-bottom-style:hidden;
}
.soup{
margin-top:120px;
padding-left:420px;
}